<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
      // 请求拦截器
      axios.interceptors.request.use(function (request) {
        console.log('请求发出之前第一个执行')

        const token = localStorage.getItem('token')
        console.log('reqqqqq', request, token)
        request.headers.Authorization =  `Bearer ${token}`
          return request;
        }, function (error) {
          return Promise.reject(error);
        });

      // 返回拦截器
      axios.interceptors.response.use(function (response) {
        console.log('请求返回后第一个执行')
        console.log('ressss', response)
        const { authorization } = response.headers
        authorization && localStorage.setItem('token', authorization )
          return response;
        }, function (error) {
          console.log('error', error)
          const { status } = error.response
          if(status === 401) {
            localStorage.removeItem('token')
            location.href = '/login'
          }
          return Promise.reject(error);
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎来到~ <%= title %><button id="logout">退出登录</button></p>

      <div>
        <label>名称</label>
        <input id="name"/>
      </div>
      <div>
        <label>密码</label>
        <input type="password" id="password"/>
      </div>
      <div>
        <label>年龄</label>
        <input type="number" id="age"/>
      </div>
      <div>
        <label>ID</label>
        <input id="id"/>
      </div>
      <div>
        <button id="addBtn" type="button">新增 or 更新</button>
        <button id="deleteBtn">删除</button>
      </div>

    <div>
      <table>
        <thead style="border: 1px;">
          <tr>
            <td >id</td>
            <td>名称</td>
            <td>年龄</td>
          </tr>
        </thead>
        <tbody style="border: 1px;">

        </tbody>
      </table>
      <div style="display: flex;margin-top: 32px;">
        <button id="prev">上一页</button>
        <div id="page"></div>
        <button id="next">下一页</button>
      </div>
    </div>

    <script type="text/javascript">
      let currentPage = 1;
      let currentSize = 10;

      const logoutBtn = document.querySelector('#logout')
      const addBtn = document.querySelector('#addBtn')
      const deleteBtn = document.querySelector('#deleteBtn')
      const nameDom = document.querySelector('#name')
      const passwordDom = document.querySelector('#password')
      const ageDom = document.querySelector('#age')
      const idDom = document.querySelector('#id')
      const pageDom = document.querySelector('#page')
      const prevBtn = document.querySelector('#prev')
      const nextBtn = document.querySelector('#next')

      function fetchList(page, size){
        axios.get(`http://localhost:3000/api/user/list?page=${page}&size=${size}`)
        .then(({data: {data}}) => {
          const tableBody = document.querySelector('tbody')
          console.log(data)
          const { list, page, size, total } = data
          currentPage = page
          currentSize = size
          tableBody.innerHTML = list.map((item) => {
            return `<tr>
              <td>${item._id}</td>
              <td>${item.name}</td>
              <td>${item.age}</td>
              <td><img src='${item.avatar}' style="width: 80px; height: 80px" /></td>
            </tr>`
          }).join('')

          const totalPage = Math.ceil(total/size);
          prevBtn.disabled = currentPage === 1
          nextBtn.disabled = currentPage === totalPage
          pageDom.innerHTML = `${page}/${totalPage}页 共${total}条`
        })
      }

      fetchList(currentPage, currentSize)

      prevBtn.onclick = function() {
        fetchList(currentPage - 1, currentSize)
      }

      nextBtn.onclick = function() {
        fetchList(currentPage + 1, currentSize)
      }

      addBtn.onclick = function() {
        // 有 id 就是编辑
        if(idDom.value) {
          const params = {
            name: nameDom.value,
            password: passwordDom.value,
            age: ageDom.value,
            id: idDom.value
          }
          axios.post('http://localhost:3000/api/user/update', params)
          .then(({data}) => {
            if(data.ok === 0) {
              location.href = '/login'
            }
          })
        } else {
          const params = {
            name: nameDom.value,
            password: passwordDom.value,
            age: ageDom.value
          }
          axios.post('http://localhost:3000/api/user/add', params)
          .then(({data}) => {
            if(data.ok === 0) {
              location.href = '/login'
            }
          })
        }

      }

      deleteBtn.onclick = function() {
        const params = {
          id: idDom.value,
        }
        axios.post('http://localhost:3000/api/user/delete', params)
        .then(({data}) => {
          if(data.ok === 0) {
            location.href = '/login'
          }
        })
      }

      logoutBtn.onclick = function() {
        axios.post('http://localhost:3000/api/logout')
        .then(({data}) => {
          if(data.ok === 1) {
            localStorage.removeItem('token')
            location.href = '/login'
          }
        })
      }

    </script>
  </body>
</html>
